body
{
  font-family: "Roboto", sans-serif;
}

.types {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}
.type {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin: 0.5%;
    padding: 1%;
    flex: 1 16%;
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
}
.type:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.type-name {
    text-align: center;
    font-size: large;
}

.types-header-sect {
    text-align: center;
}

.header-menu-link {
    text-decoration: none;
    color: #212529;
}
.header-menu-item {
    list-style-type: none;
}
.header-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 160px;
}
.menu-logo {
    margin-left: -13%;
}
.header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding-bottom: 1px;
}

.theory {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}
.theory-p, .disc-text {
    font-size: large;
    line-height: 2;
}

.disc-content {
    padding-left: 5%;
    padding-right: 5%;
}
.formula1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center {
    text-align: center;
}
.formula2a, .formula3a {
    display: flex;
    flex-wrap: wrap;
}
.formula4{
    vertical-align: middle;
}
.formula5a{
    vertical-align: middle;
}
.formula7 {
    vertical-align: middle;
}

.chastn {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.maket {
    width: auto;
    margin-top: 30px;
    line-height: 2;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    font-size: large;
    padding-left: 15px;
    padding-right: 20px;
    border: 1px solid black;
}
.formula2b {
    border: none;
}